In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [4]:
for i in train_data:
    print i if i[embarked]

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [27]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [28]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
set(train_data['Embarked'].values)

{'C', 'Q', 'S', nan}

In [30]:
from sklearn.preprocessing import Imputer

def nan_padding(data, columns):
    for column in columns:
        imputer=Imputer()
        data[column]=imputer.fit_transform(data[column].values.reshape(-1,1))
    return data


nan_columns = ["Age", "SibSp", "Parch"]
train_data = nan_padding(train_data,nan_columns)
test_data = nan_padding(test_data,nan_columns)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [31]:
train_data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [32]:
tester_id = test_data['PassengerId']

In [33]:
def dropColumns(data,columns):
    for column in columns:
        return data.drop(columns,axis=1)
        
        
drop_columns = ["PassengerId","Name", "Ticket", "Fare", "Cabin", "Embarked"]
train_data = dropColumns(train_data,drop_columns)
test_data = dropColumns(test_data,drop_columns)

In [35]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0    1.0    0.0
1         1       1  female  38.0    1.0    0.0
2         1       3  female  26.0    0.0    0.0
3         1       1  female  35.0    1.0    0.0
4         0       3    male  35.0    0.0    0.0

In [36]:
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix=column)], axis=1)
        data = data.drop(column, axis=1)
    return data


dummy_columns = ["Pclass"]
train_data=dummy_data(train_data, dummy_columns)
test_data=dummy_data(test_data, dummy_columns)

In [37]:
train_data.head()

   Survived     Sex   Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0         0    male  22.0    1.0    0.0         0         0         1
1         1  female  38.0    1.0    0.0         1         0         0
2         1  female  26.0    0.0    0.0         0         0         1
3         1  female  35.0    1.0    0.0         1         0         0
4         0    male  35.0    0.0    0.0         0         0         1

In [39]:
from sklearn.preprocessing import LabelEncoder

def lb(data):
    le = LabelEncoder()
    le.fit(["male","female"])
    data["Sex"] = le.transform(data["Sex"])
    return data

train_data = lb(train_data)
test_data = lb(test_data)

In [40]:
train_data.head()

   Survived  Sex   Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0         0    1  22.0    1.0    0.0         0         0         1
1         1    0  38.0    1.0    0.0         1         0         0
2         1    0  26.0    0.0    0.0         0         0         1
3         1    0  35.0    1.0    0.0         1         0         0
4         0    1  35.0    0.0    0.0         0         0         1

In [41]:
from sklearn.preprocessing import MinMaxScaler

def normalize_age(data):
    scaler = MinMaxScaler()
    data["Age"] = scaler.fit_transform(data["Age"].values.reshape(-1,1))
    return data
train_data = normalize_age(train_data)
test_data = normalize_age(test_data)
train_data.head()

   Survived  Sex       Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0         0    1  0.271174    1.0    0.0         0         0         1
1         1    0  0.472229    1.0    0.0         1         0         0
2         1    0  0.321438    0.0    0.0         0         0         1
3         1    0  0.434531    1.0    0.0         1         0         0
4         0    1  0.434531    0.0    0.0         0         0         1

In [42]:
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split

def split_valid_test_data(data, fraction=(1 - 0.8)):
    data_y = data["Survived"]
    lb = LabelBinarizer()
    data_y = lb.fit_transform(data_y)

    data_x = data.drop(["Survived"], axis=1)

    train_x, valid_x, train_y, valid_y = train_test_split(data_x, data_y, test_size=fraction)

    return train_x.values, train_y, valid_x, valid_y

train_x, train_y, valid_x, valid_y = split_valid_test_data(train_data)
print("train_x:{}".format(train_x.shape))
print("train_y:{}".format(train_y.shape))
print("train_y content:{}".format(train_y[:3]))

print("valid_x:{}".format(valid_x.shape))
print("valid_y:{}".format(valid_y.shape))

train_x:(712, 7)
train_y:(712, 1)
train_y content:[[0]
 [0]
 [0]]
valid_x:(179, 7)
valid_y:(179, 1)

In [75]:
from collections import namedtuple

def build_neural_network(hidden_units=10):
    tf.reset_default_graph()
    inputs = tf.placeholder(tf.float32, shape=[None, train_x.shape[1]])
    labels = tf.placeholder(tf.float32, shape=[None, 1])
    learning_rate = tf.placeholder(tf.float32)
    is_training=tf.Variable(True,dtype=tf.bool)
    
    initializer = tf.contrib.layers.xavier_initializer()
    fc = tf.layers.dense(inputs, hidden_units, activation=None,kernel_initializer=initializer)
    fc=tf.layers.batch_normalization(fc, training=is_training)
    fc=tf.nn.relu(fc)
    
    logits = tf.layers.dense(fc, 1, activation=None)
    cross_entropy = tf.nn.sigmoid_cross_entropy_with_logits(labels=labels, logits=logits)
    cost = tf.reduce_mean(cross_entropy)
    
    with tf.control_dependencies(tf.get_collection(tf.GraphKeys.UPDATE_OPS)):
        optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)

    predicted = tf.nn.sigmoid(logits)
    correct_pred = tf.equal(tf.round(predicted), labels)
    accuracy = tf.reduce_mean(tf.cast(correct_pred, tf.float32))

    
    
# Export the nodes 
    export_nodes = ['inputs', 'labels', 'learning_rate','is_training', 'logits',
                    'cost', 'optimizer', 'predicted', 'accuracy']
    Graph = namedtuple('Graph', export_nodes)
    local_dict = locals()
    graph = Graph(*[local_dict[each] for each in export_nodes])

    return graph

model = build_neural_network()

In [58]:
def get_batch(data_x,data_y,batch_size=32):
    batch_n=len(data_x)//batch_size
    for i in range(batch_n):
        batch_x=data_x[i*batch_size:(i+1)*batch_size]
        batch_y=data_y[i*batch_size:(i+1)*batch_size]
        
        yield batch_x,batch_y

In [64]:
epochs = 200
train_collect = 50
train_print = train_collect*2

learning_rate_value = 0.001
batch_size = 16

In [65]:
x_collect = []
train_loss_collect = []
train_acc_collect = []
valid_loss_collect = []
valid_acc_collect = []

In [82]:
saver = tf.train.Saver()
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    iteration=0
    for e in range(epochs):
        for batch_x,batch_y in get_batch(train_x,train_y,batch_size):
            iteration+=1
            feed = {model.inputs: train_x,
                    model.labels: train_y,
                    model.learning_rate: learning_rate_value,
                    model.is_training:True
                   }

            train_loss, _, train_acc = sess.run([model.cost, model.optimizer, model.accuracy], feed_dict=feed)
            
            if iteration % train_collect == 0:
                x_collect.append(e)
                train_loss_collect.append(train_loss)
                train_acc_collect.append(train_acc)
                if iteration % train_print==0:
                     print("Epoch: {}/{}".format(e + 1, epochs),
                      "Train Loss: {:.4f}".format(train_loss),
                      "Train Acc: {:.4f}".format(train_acc))
                        
                feed = {model.inputs: valid_x,
                        model.labels: valid_y,
                        model.is_training:False
                       }
                val_loss, val_acc = sess.run([model.cost, model.accuracy], feed_dict=feed)
                valid_loss_collect.append(val_loss)
                valid_acc_collect.append(val_acc)
                
                if iteration % train_print==0:
                    print("Epoch: {}/{}".format(e + 1, epochs),
                      "Validation Loss: {:.4f}".format(val_loss),
                      "Validation Acc: {:.4f}".format(val_acc))
                
    feed={
            model.inputs:test_data,
            model.is_training:False
        }
    test_predict=sess.run(model.predicted,feed_dict=feed)
    test_predict[:10]

Epoch: 3/200 Train Loss: 0.5058 Train Acc: 0.7135
Epoch: 3/200 Validation Loss: 0.5792 Validation Acc: 0.7263
Epoch: 5/200 Train Loss: 0.4408 Train Acc: 0.8076
Epoch: 5/200 Validation Loss: 0.5122 Validation Acc: 0.7486
Epoch: 7/200 Train Loss: 0.4148 Train Acc: 0.8076
Epoch: 7/200 Validation Loss: 0.4767 Validation Acc: 0.7598
Epoch: 10/200 Train Loss: 0.4052 Train Acc: 0.8230
Epoch: 10/200 Validation Loss: 0.4578 Validation Acc: 0.7933
Epoch: 12/200 Train Loss: 0.4007 Train Acc: 0.8287
Epoch: 12/200 Validation Loss: 0.4493 Validation Acc: 0.7933
Epoch: 14/200 Train Loss: 0.3978 Train Acc: 0.8258
Epoch: 14/200 Validation Loss: 0.4494 Validation Acc: 0.8101
Epoch: 16/200 Train Loss: 0.3959 Train Acc: 0.8272
Epoch: 16/200 Validation Loss: 0.4464 Validation Acc: 0.8101
Epoch: 19/200 Train Loss: 0.3944 Train Acc: 0.8301
Epoch: 19/200 Validation Loss: 0.4388 Validation Acc: 0.8212
Epoch: 21/200 Train Loss: 0.3931 Train Acc: 0.8343
Epoch: 21/200 Validation Loss: 0.4391 Validation Acc: 0.8268
Epoch: 23/200 Train Loss: 0.3920 Train Acc: 0.8329
Epoch: 23/200 Validation Loss: 0.4387 Validation Acc: 0.8268
Epoch: 25/200 Train Loss: 0.3910 Train Acc: 0.8329
Epoch: 25/200 Validation Loss: 0.4404 Validation Acc: 0.8268
Epoch: 28/200 Train Loss: 0.3904 Train Acc: 0.8329
Epoch: 28/200 Validation Loss: 0.4388 Validation Acc: 0.8212
Epoch: 30/200 Train Loss: 0.3889 Train Acc: 0.8371
Epoch: 30/200 Validation Loss: 0.4420 Validation Acc: 0.8212
Epoch: 32/200 Train Loss: 0.3883 Train Acc: 0.8343
Epoch: 32/200 Validation Loss: 0.4439 Validation Acc: 0.8212
Epoch: 35/200 Train Loss: 0.3875 Train Acc: 0.8371
Epoch: 35/200 Validation Loss: 0.4424 Validation Acc: 0.8212
Epoch: 37/200 Train Loss: 0.3863 Train Acc: 0.8357
Epoch: 37/200 Validation Loss: 0.4425 Validation Acc: 0.8212
Epoch: 39/200 Train Loss: 0.3851 Train Acc: 0.8371
Epoch: 39/200 Validation Loss: 0.4421 Validation Acc: 0.8212
Epoch: 41/200 Train Loss: 0.3837 Train Acc: 0.8385
Epoch: 41/200 Validation Loss: 0.4429 Validation Acc: 0.8268
Epoch: 44/200 Train Loss: 0.3827 Train Acc: 0.8357
Epoch: 44/200 Validation Loss: 0.4448 Validation Acc: 0.8212
Epoch: 46/200 Train Loss: 0.3819 Train Acc: 0.8343
Epoch: 46/200 Validation Loss: 0.4428 Validation Acc: 0.8212
Epoch: 48/200 Train Loss: 0.3812 Train Acc: 0.8343
Epoch: 48/200 Validation Loss: 0.4417 Validation Acc: 0.8212
Epoch: 50/200 Train Loss: 0.3799 Train Acc: 0.8357
Epoch: 50/200 Validation Loss: 0.4407 Validation Acc: 0.8212
Epoch: 53/200 Train Loss: 0.3792 Train Acc: 0.8343
Epoch: 53/200 Validation Loss: 0.4395 Validation Acc: 0.8156
Epoch: 55/200 Train Loss: 0.3786 Train Acc: 0.8343
Epoch: 55/200 Validation Loss: 0.4400 Validation Acc: 0.8212
Epoch: 57/200 Train Loss: 0.3779 Train Acc: 0.8343
Epoch: 57/200 Validation Loss: 0.4425 Validation Acc: 0.8212
Epoch: 60/200 Train Loss: 0.3769 Train Acc: 0.8343
Epoch: 60/200 Validation Loss: 0.4425 Validation Acc: 0.8156
Epoch: 62/200 Train Loss: 0.3763 Train Acc: 0.8343
Epoch: 62/200 Validation Loss: 0.4422 Validation Acc: 0.8156
Epoch: 64/200 Train Loss: 0.3755 Train Acc: 0.8371
Epoch: 64/200 Validation Loss: 0.4406 Validation Acc: 0.8156
Epoch: 66/200 Train Loss: 0.3740 Train Acc: 0.8329
Epoch: 66/200 Validation Loss: 0.4464 Validation Acc: 0.8156
Epoch: 69/200 Train Loss: 0.3732 Train Acc: 0.8357
Epoch: 69/200 Validation Loss: 0.4447 Validation Acc: 0.8156
Epoch: 71/200 Train Loss: 0.3727 Train Acc: 0.8371
Epoch: 71/200 Validation Loss: 0.4412 Validation Acc: 0.8212
Epoch: 73/200 Train Loss: 0.3721 Train Acc: 0.8357
Epoch: 73/200 Validation Loss: 0.4432 Validation Acc: 0.8212
Epoch: 75/200 Train Loss: 0.3716 Train Acc: 0.8357
Epoch: 75/200 Validation Loss: 0.4428 Validation Acc: 0.8268
Epoch: 78/200 Train Loss: 0.3708 Train Acc: 0.8399
Epoch: 78/200 Validation Loss: 0.4446 Validation Acc: 0.8212
Epoch: 80/200 Train Loss: 0.3702 Train Acc: 0.8399
Epoch: 80/200 Validation Loss: 0.4465 Validation Acc: 0.8268
Epoch: 82/200 Train Loss: 0.3696 Train Acc: 0.8413
Epoch: 82/200 Validation Loss: 0.4492 Validation Acc: 0.8268
Epoch: 85/200 Train Loss: 0.3689 Train Acc: 0.8441
Epoch: 85/200 Validation Loss: 0.4497 Validation Acc: 0.8212
Epoch: 87/200 Train Loss: 0.3684 Train Acc: 0.8413
Epoch: 87/200 Validation Loss: 0.4523 Validation Acc: 0.8156
Epoch: 89/200 Train Loss: 0.3676 Train Acc: 0.8413
Epoch: 89/200 Validation Loss: 0.4522 Validation Acc: 0.8156
Epoch: 91/200 Train Loss: 0.3653 Train Acc: 0.8399
Epoch: 91/200 Validation Loss: 0.4568 Validation Acc: 0.8212
Epoch: 94/200 Train Loss: 0.3627 Train Acc: 0.8469
Epoch: 94/200 Validation Loss: 0.4653 Validation Acc: 0.8268
Epoch: 96/200 Train Loss: 0.3611 Train Acc: 0.8483
Epoch: 96/200 Validation Loss: 0.4674 Validation Acc: 0.8212
Epoch: 98/200 Train Loss: 0.3601 Train Acc: 0.8539
Epoch: 98/200 Validation Loss: 0.4683 Validation Acc: 0.8212
Epoch: 100/200 Train Loss: 0.3572 Train Acc: 0.8539
Epoch: 100/200 Validation Loss: 0.4841 Validation Acc: 0.8045
Epoch: 103/200 Train Loss: 0.3547 Train Acc: 0.8553
Epoch: 103/200 Validation Loss: 0.4888 Validation Acc: 0.7933
Epoch: 105/200 Train Loss: 0.3536 Train Acc: 0.8553
Epoch: 105/200 Validation Loss: 0.4746 Validation Acc: 0.8212
Epoch: 107/200 Train Loss: 0.3528 Train Acc: 0.8553
Epoch: 107/200 Validation Loss: 0.4748 Validation Acc: 0.8268
Epoch: 110/200 Train Loss: 0.3521 Train Acc: 0.8567
Epoch: 110/200 Validation Loss: 0.4737 Validation Acc: 0.8268
Epoch: 112/200 Train Loss: 0.3516 Train Acc: 0.8567
Epoch: 112/200 Validation Loss: 0.4807 Validation Acc: 0.8212
Epoch: 114/200 Train Loss: 0.3512 Train Acc: 0.8567
Epoch: 114/200 Validation Loss: 0.4861 Validation Acc: 0.8212
Epoch: 116/200 Train Loss: 0.3508 Train Acc: 0.8567
Epoch: 116/200 Validation Loss: 0.4875 Validation Acc: 0.8156
Epoch: 119/200 Train Loss: 0.3504 Train Acc: 0.8553
Epoch: 119/200 Validation Loss: 0.4879 Validation Acc: 0.8156
Epoch: 121/200 Train Loss: 0.3498 Train Acc: 0.8539
Epoch: 121/200 Validation Loss: 0.4933 Validation Acc: 0.8156
Epoch: 123/200 Train Loss: 0.3494 Train Acc: 0.8553
Epoch: 123/200 Validation Loss: 0.4960 Validation Acc: 0.8212
Epoch: 125/200 Train Loss: 0.3491 Train Acc: 0.8539
Epoch: 125/200 Validation Loss: 0.4939 Validation Acc: 0.8212
Epoch: 128/200 Train Loss: 0.3489 Train Acc: 0.8539
Epoch: 128/200 Validation Loss: 0.4984 Validation Acc: 0.8101
Epoch: 130/200 Train Loss: 0.3487 Train Acc: 0.8539
Epoch: 130/200 Validation Loss: 0.4908 Validation Acc: 0.8268
Epoch: 132/200 Train Loss: 0.3485 Train Acc: 0.8539
Epoch: 132/200 Validation Loss: 0.4987 Validation Acc: 0.8156
Epoch: 135/200 Train Loss: 0.3481 Train Acc: 0.8539
Epoch: 135/200 Validation Loss: 0.5082 Validation Acc: 0.8101
Epoch: 137/200 Train Loss: 0.3479 Train Acc: 0.8525
Epoch: 137/200 Validation Loss: 0.4992 Validation Acc: 0.8156
Epoch: 139/200 Train Loss: 0.3478 Train Acc: 0.8525
Epoch: 139/200 Validation Loss: 0.5018 Validation Acc: 0.8268
Epoch: 141/200 Train Loss: 0.3476 Train Acc: 0.8525
Epoch: 141/200 Validation Loss: 0.5123 Validation Acc: 0.8101
Epoch: 144/200 Train Loss: 0.3476 Train Acc: 0.8525
Epoch: 144/200 Validation Loss: 0.5187 Validation Acc: 0.8101
Epoch: 146/200 Train Loss: 0.3474 Train Acc: 0.8525
Epoch: 146/200 Validation Loss: 0.5169 Validation Acc: 0.8045
Epoch: 148/200 Train Loss: 0.3473 Train Acc: 0.8525
Epoch: 148/200 Validation Loss: 0.5188 Validation Acc: 0.8156
Epoch: 150/200 Train Loss: 0.3473 Train Acc: 0.8511
Epoch: 150/200 Validation Loss: 0.5215 Validation Acc: 0.8156
Epoch: 153/200 Train Loss: 0.3472 Train Acc: 0.8525
Epoch: 153/200 Validation Loss: 0.5138 Validation Acc: 0.8268
Epoch: 155/200 Train Loss: 0.3472 Train Acc: 0.8525
Epoch: 155/200 Validation Loss: 0.5157 Validation Acc: 0.8268
Epoch: 157/200 Train Loss: 0.3471 Train Acc: 0.8525
Epoch: 157/200 Validation Loss: 0.5138 Validation Acc: 0.8045
Epoch: 160/200 Train Loss: 0.3471 Train Acc: 0.8511
Epoch: 160/200 Validation Loss: 0.5162 Validation Acc: 0.8268
Epoch: 162/200 Train Loss: 0.3471 Train Acc: 0.8511
Epoch: 162/200 Validation Loss: 0.5210 Validation Acc: 0.8156
Epoch: 164/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 164/200 Validation Loss: 0.5309 Validation Acc: 0.8101
Epoch: 166/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 166/200 Validation Loss: 0.5317 Validation Acc: 0.8101

Epoch: 169/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 169/200 Validation Loss: 0.5519 Validation Acc: 0.7709
Epoch: 171/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 171/200 Validation Loss: 0.5450 Validation Acc: 0.7765
Epoch: 173/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 173/200 Validation Loss: 0.5279 Validation Acc: 0.8212
Epoch: 175/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 175/200 Validation Loss: 0.5306 Validation Acc: 0.8045
Epoch: 178/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 178/200 Validation Loss: 0.5268 Validation Acc: 0.8045
Epoch: 180/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 180/200 Validation Loss: 0.5302 Validation Acc: 0.8156
Epoch: 182/200 Train Loss: 0.3470 Train Acc: 0.8511
Epoch: 182/200 Validation Loss: 0.5265 Validation Acc: 0.8212
Epoch: 185/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 185/200 Validation Loss: 0.5157 Validation Acc: 0.8268
Epoch: 187/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 187/200 Validation Loss: 0.5175 Validation Acc: 0.8268
Epoch: 189/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 189/200 Validation Loss: 0.5282 Validation Acc: 0.8101
Epoch: 191/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 191/200 Validation Loss: 0.5211 Validation Acc: 0.8212
Epoch: 194/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 194/200 Validation Loss: 0.5202 Validation Acc: 0.8268
Epoch: 196/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 196/200 Validation Loss: 0.5192 Validation Acc: 0.8268
Epoch: 198/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 198/200 Validation Loss: 0.5184 Validation Acc: 0.8268
Epoch: 200/200 Train Loss: 0.3469 Train Acc: 0.8511
Epoch: 200/200 Validation Loss: 0.5246 Validation Acc: 0.8268

In [83]:
from sklearn.preprocessing import Binarizer
binarizer=Binarizer(0.5)
test_predict_result=binarizer.fit_transform(test_predict)
test_predict_result=test_predict_result.astype(np.int32)
test_predict_result[:10]

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0]])

In [85]:
passenger_id=tester_id.copy()
evaluation=passenger_id.to_frame()
evaluation["Survived"]=test_predict_result
evaluation[:10]

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [86]:
evaluation.to_csv("predictions.csv",index=False)